 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
};

.my_container{
    width: 70%;
    margin: auto;
}

.bg_txt {
    background-color: #52bbbb;
    padding: 0px 5px;
    margin: 5px;
}

.padg {
    padding: 30px 0px;
}


//colori
.green {
    color: #52bbbb;
}

.white {
    color: #fff;
}

.dark_green {
    color: #058283;
}

.bg_green{
    background-color: #52bbbb;
}
//colori


//regole flex
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.space_btw{
    justify-content: space-between;
}

.aligne_it {
    align-items: center;
}

.txt_center {
    text-align: center;
}
//regole flex

//bottoni
.btn{
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.transparent{
    border: 1px solid #52bbbb;
}
//bottoni
